<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Free PDF file to Text!</title>
</head>

<body>
  <div class="container-fluid" style="padding-left: 0rem; padding-right: 0rem;">
    <!-- Just an image -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          PDF2Text
        </a>
      </div>
    </nav>
    <div class="row" style="padding-left: 1rem; padding-right: 1rem;">
      <div class="col-lg-6 col-md-12">
        <div class="row" style="margin-top: 1rem;">
          <label for="formFile" class="form-label me-2">Upload PDF:</label>
          <form method="post" action="/api/upload" class="d-flex align-items-center">
            <input class="form-control me-2" type="file" id="formFile" name="file">
            <button type="button" class="btn btn-info" id="btn-upload">Convert</button>
          </form>
        </div>
        <div class="row">
          <div id="pdf-preview" class="col-lg-12 d-none d-md-block">
            PDF file preview.
          </div>
        </div>
      </div>
      <hr style="margin-top: 1rem; border-style: dashed;">
      <div class="col-lg-10 col-md-12">
        <div>
          <pre id="content">
            loading text...
          </pre>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      $('#btn-upload').click(function () {

        // 点击按钮后将其设置为 disabled
        $(this).prop('disabled', true);

        var form_data = new FormData($('form')[0]);
        var file_input = $('#formFile')[0];
        var file = file_input.files[0];

        var reader = new FileReader();

        reader.onload = function (e) {
          var pdf_data = new Uint8Array(e.target.result);

          // 加载 PDF 文件
          pdfjsLib.getDocument(pdf_data).promise.then(function (pdf) {
            // 获取第一页
            pdf.getPage(1).then(function (page) {
              var scale = 1.5;
              var viewport = page.getViewport({ scale: scale });

              // 创建一个 Canvas 元素来展示 PDF 页面
              var canvas = document.createElement('canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;

              // 将 PDF 页面绘制到 Canvas 上
              var renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext).promise.then(function () {
                // 将 Canvas 添加到页面上进行预览
                $('#pdf-preview').empty().append(canvas);
              });
            });
          });
        };

        reader.readAsArrayBuffer(file);

        $.ajax({
          type: 'POST',
          url: '/api/upload',
          data: form_data,
          processData: false,
          contentType: false,
          success: function (response) {
            var content = "";
            if (response.status == 0) {
              content = response.data.text;
            } else {
              content = response.data.msg;
            }
            $('#content').text(content);
          },
          error: function (xhr, status, error) {
            console.error(error);
          },
          complete: function () {
            // 请求完成后取消按钮的 disabled 状态
            $('#btn-upload').prop('disabled', false);
          }
        });
      });
    });

  </script>
</body>

</html>